{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7d35781f0a.js" crossorigin="anonymous"></script> 
    <title>DeConnect</title>
    
	  <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{% static 'feed.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'connections.css' %}">
    <style>
    </style>
</head>
<body style="background-color:#F3F8FF;">

    <!-- Header  -->
    <header class="bg-white w-full fixed top-0 left-0 right-0 z-50">
        <div class="w-90p bg-white  h-full m-auto flex justify-between items-center  ">
            <!--Left-->
            <div class=" flex items-center">
              <a href="{% url 'feed:feed' %}" class="logo text-4xl mr-1.5">
                <img src="{% static 'images/DeConnect_Logo.png' %}" alt="Logo" class="w-12 h-12">
              </a>
              <span style="font-weight:bold;"><a href="{% url 'feed:feed' %}">DeConnect</a></span>
            </div>

            <!-- Center -->
            <div class="search-container">
                <div class="search-box">
                    <input type="text" placeholder="Search...">
                    <i class="fas fa-search"></i>
                </div>
            </div>

            <!--RIght-->
            <div class=" h-full flex justify-center items-center ">
              <!-- Nav -->
              <ul class=" h-full flex justify-center items-center">

                <li class="h-full" style="margin-right:1rem">
                  <a href="#" class="h-full flex flex-col justify-between items-center text-center text-gray-600 hover:text-black p-1  px-2">
                    <i class="far fa-comment-alt text-xl relative" style="color:#0057B7">
                    </i>
                  </a>
                </li>
               
                <li class="h-full" style="margin-right:1rem">
                  <a href="#" class="h-full flex flex-col justify-between items-center text-center text-gray-600 hover:text-black p-1  px-2">
                    <i class="far fa-bell text-xl relative" style="color:#0057B7">
                    </i>
                  </a>
                </li>

                <li class="h-full">
                  <a href="#" class="h-full flex flex-col justify-between items-center text-center text-gray-600 hover:text-black p-1  px-2">
                    <img src="{% static 'images/feed/ellipse 6.png' %}" alt="Me" class="w-12 h-12 rounded-full">
                  </a>
                </li>

              </ul>
            </div>

        </div>
    </header>

    <div class="nav-container">
        <div class="nav-item">
          <div class="title"><a href="{% url 'feed:feed' %}">Feed</a></div>
        </div>
        <div class="nav-item">
          <div class="title"><a href="{% url 'feed:connections' %}">Connections</a></div>
        </div>
        <div class="nav-item">
          <div class="title"><a href="{% url 'feed:groups' %}">Groups</a></div>
        </div>
        <div class="nav-item like-b">
          <div class="title">Events</div>
        </div>
    </div>
    <!-- Main -->
    <main class="w-full m-auto mt-4 flex justify-center">
      
      <!-- Left Sidebar -->
      <div class="left-sidebar w-18p">
        
        <!-- Profile card-->
        <div class="border border-gray-300 rounded bg-white pb-1.5">
            <div class="h-16 rounded-t"></div>

            <div class="text-center mb-4">
                <a href="#">
                <div class="bg-white w-full h-18 m-auto rounded-full p-0.5 transform -translate-y-8 justify-items">
                <img src="{% static 'images/feed/ellipse 6.png' %}" alt="Avatar" class="w-70">
                </div>

                <h2 class="text-xl hover:underline">
                    John Deo 
                </h2>
            </a>

                <p class="text-gray-400 mt-1">
                    MS in Human Computer Interection
                </p>
            </div>

            <div class="border-gray-400">
                <div class="outer-box">
                    <div class="inner-box">
                        <div class="text" style="font-weight:bold;">334</div>
                        <div class="text" style="color:#716E72">Connections</div>
                    </div>
                    <div class="inner-box">
                        <div class="text" style="font-weight:bold;">12</div>
                        <div class="text" style="color:#716E72">Groups</div>
                    </div>
                </div>
                <div style="justify-items:center">
                    <a href="#" class="text-sm flex justify-between items-center my-1 p-1 border-b font-medium" style="color:#0057B7;">
                        <span>View my profile</span>
                    </a>
                </div>
            </div>
        </div>



      </div>


      <!-- article -->
      <div class="w-44p mx-10">
        <div class="connections-container mb-4">
          <div class="connections-header">
              <h3>All Events</h3>
          </div>

          <ul class="connection-list">
            <li class="connection-item">
              <img src="{% static 'images/feed/groupa/ellipse 6.png' %}" alt="Connection Avatar" class="connection-avatar">
              <div class="connection-info">
                  <h4>Global Coffee Hour </h4>
                  <p>Oct 25, 2024 | 5:00 PM - 7:00 PM</p>
              </div>
              <div class="connection-actions">
                  <button class="button">Register</button>
              </div>
            </li>
            <li class="connection-item">
              <img src="{% static 'images/feed/groupa/ellipse 6.png' %}" alt="Connection Avatar" class="connection-avatar">
              <div class="connection-info">
                  <h4>Fun & Games with Global DePaul</h4>
                  <p>Oct 29, 2024 | 1:00 PM - 4:00 PM</p>
              </div>
              <div class="connection-actions">
                  <button class="button">Register</button>
              </div>
            </li>
            <li class="connection-item">
              <img src="{% static 'images/feed/groupa/ellipse 6.png' %}" alt="Connection Avatar" class="connection-avatar">
              <div class="connection-info">
                  <h4>Coat/Jacket Event</h4>
                  <p>Nov 2, 2024 | 3:00 PM - 5:00 PM</p>
              </div>
              <div class="connection-actions">
                  <button class="button">Register</button>
              </div>
            </li>
            <li class="connection-item">
              <img src="{% static 'images/feed/groupa/ellipse 6.png' %}" alt="Connection Avatar" class="connection-avatar">
              <div class="connection-info">
                  <h4>Career Fair</h4>
                  <p>Nov 8, 2024 | 1:00 PM - 5:00 PM</p>
              </div>
              <div class="connection-actions">
                  <button class="button">Register</button>
              </div>
            </li>
            <!-- Add more connection items here -->
          </ul>
        </div>
        
      </div>


      <!-- Right sidebar -->
      <div class="right-sidebar w-18p h-14 relative">
        
        <!-- Events Box -->
        <div class="border border-gray-300 rounded bg-white p-4 my-2 mt-0">

            <div class=" flex justify-between items-center px-2 mb-2">
                <h2 class="text-xl" style="color:#716E72">Upcoming Events</h2>
            </div>

            <div class=" flex justify-between items-center px-2 mb-2">
              <h2 class="text-xl" style="color:#716E72">Upcoming Events</h2>
          </div>

          <!-- Courses -->
          <div class="flex flex-col">
              <a href="#" class="py-1 px-2 hover:bg-gray-300">
                  <h3 class="link-blue font-medium">Design Thinking Workshop</h3>
                  <p class="text-sm text-gray-500">Oct 25, 2024 | 5:00 PM - 7:00 PM</p>
              </a>

              <a href="#" class="py-1 px-2 hover:bg-gray-300">
                  <h3 class="link-blue font-medium">Career Networking Fair</h3>
                  <p class="text-sm text-gray-500">Oct 15, 2024 | 10:00 AM - 4:00 PM</p>
              </a>

              <a href="#" class="py-1 px-2 hover:bg-gray-300">
                  <h3 class="link-blue font-medium">Alumni Talks with CDM Folks</h3>
                  <p class="text-sm text-gray-500">Oct 9, 2024 | 5:00 PM - 7:00 PM</p>
              </a>
          </div>

            <div class="justify-items mt-4">
                <a href="#" class="flex inline-block mt-1 text-blue-600 hover:bg-blue-100 border-b font-medium text-sm" style="color:#0057B7;">
                    View all events 
                </a>
            </div>

        </div>

        <!-- Connections box -->
        <div class="border border-gray-300 rounded bg-white p-4 mb-2">

          <div class="flex justify-between items-center mb-2">
            <h2 class="text-xl" style="color:#716E72">Recent Connections</h2>
          </div>

          <!-- Profiles -->
          <div class="flex flex-col">
            <div class="rec-profile flex justify-between items-center my-1">

              <div class="flex justify-between">
                <a href="#" class="rounded-full w-12 h-12 mr-2">
                  <img src="{% static 'images/feed/connection/ellipse 6.png' %}" alt="Avatar" class="rounded-full">
                </a>
                <a href="#">
                  <h2 class="link-blue">Sophia Martinez</h2>
                  <p class="text-gray-400 text-sm">Alumni in Business Analytics</p>
                </a>
              </div>
            </div>

            <div class="rec-profile flex justify-between items-center my-1">

              <div class="flex justify-between">
                <a href="#" class="rounded-full w-12 h-12 mr-2">
                  <img src="{% static 'images/feed/connection/ellipse 6-1.png' %}" alt="Avatar" class="rounded-full">
                </a>
                <a href="#">
                  <h2 class="link-blue">Ethan Johnson</h2>
                  <p class="text-gray-400 text-sm">Faculty in Computer Science</p>
                </a>
              </div>
            </div>
          </div>

          <div class="justify-items mt-4">
              <a href="#" class="flex inline-block mt-1 text-blue-600 hover:bg-blue-100 border-b font-medium text-sm" style="color:#0057B7;">
                View all connections 
              </a>
          </div>
        </div>
        

        <!-- Groups box -->
        <div class="border border-gray-300 rounded bg-white p-4">

            <div class="flex justify-between items-center mb-2">
              <h2 class="text-xl" style="color:#716E72">Groups</h2>
            </div>
  
            <!-- Profiles -->
            <div class="flex flex-col">
              <div class="rec-profile flex justify-between items-center my-1">
  
                <div class="flex justify-between">
                  <a href="#" class="rounded-full w-12 h-12 mr-2">
                    <img src="{% static 'images/feed/groupa/ellipse 6.png' %}" alt="Avatar" class="rounded-full">
                  </a>
                  <a href="#">
                    <h2 class="link-blue mt-2">Global DePaul</h2>
                  </a>
                </div>
              </div>
  
              <div class="rec-profile flex justify-between items-center my-1">
  
                <div class="flex justify-between">
                  <a href="#" class="rounded-full w-12 h-12 mr-2">
                    <img src="{% static 'images/feed/groupa/ellipse 6-1.png' %}" alt="Avatar" class="rounded-full">
                  </a>
                  <a href="#">
                    <h2 class="link-blue mt-2">DePaul Athletics</h2>
                  </a>
                </div>
              </div>
            </div>

            <div class="justify-items mt-4">
                <a href="#" class="flex inline-block mt-1 text-blue-600 hover:bg-blue-100 border-b font-medium text-sm" style="color:#0057B7;">
                  View all groups 
                </a>
            </div>
          </div>

      </div>
    </main>

</body>
</html>